[submodule "servers/api"]
	path = servers/api
	url = git@gitlab.com:kitcode/api.git
[submodule "servers/web"]
	path = servers/web
	url = git@gitlab.com:kitcode/web.git
[submodule "servers/run"]
	path = servers/run
	url = git@gitlab.com:kitcode/run.git
[submodule "servers/kide"]
	path = servers/kide
	url = git@gitlab.com:kitcode/kide.git
